body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    text-align: center;
    padding: 50px 0;
  }
  
  h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 24px;
    font-weight: 300;
    color: #666;
  }
  
  .feature-grid {
    margin-top: 2rem;
  }
  
  .feature-grid .col {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  
  .feature-grid p {
    font-size: 3.6rem;
    margin-bottom: 0.2rem;
    width: auto;
  }  

  .feature-grid .icon-container {
    display: inline-block;
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
  }

  #qr-code {
    display: flex;
    justify-content: center;
  }

  #scanner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #qr-reader {
    z-index: 1;
  }

  .open-modal-btn {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
  }

  .file-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  
  .file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .file-item .file-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  
  .file-item .buttons {
    display: flex;
    justify-content: space-between;
    width: 20px;
    gap: 4px; /* Adjust this value to change the spacing between the buttons */
  }
  
  .file-item button {
    flex: 1;
    width: 30px; /* adjust this value to change the maximum width of buttons */
  }
  
  .loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  