body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    text-align: center;
    padding: 50px 0;
  }
  
  h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 24px;
    font-weight: 300;
    color: #666;
  }
  
  #qr-code {
    display: flex;
    justify-content: center;
  }

  #scanner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #qr-reader {
    z-index: 1;
  }

  .open-modal-btn {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
  }

  .file-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  
  .file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .file-item button {
    margin-top: auto;
  }
  